@font-face{
    font-family: Fjalla One;
    src: url("./font/FjallaOne-Regular.ttf");
}

body {
    height: 100%;
    margin: 0;
}

#headerLogin {
    top: 0;
    left: 0;

    background-color: #5217A2;
    color: #FFFFFF;
    padding: 2vh;
    margin: 0;
    text-align: center;
    font-family: Fjalla One;
}

#formLogin {
    text-align: center;
    padding-bottom: 2vh;
}

#error {
    display: none;
    background-color: rgb(255, 197, 197);
    border: solid red 2px;
    text-align: center;
    margin-inline: 5vh;
    border-radius: 5px;
}